.header {
    height: 102px;
    border-bottom: 1px solid #F3F3F3;
    padding: 0px 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
}

.headerRight {
    display: flex;
}