//폼
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.makeTeamWrap {
  margin: 100px auto;
  width: 750px;
  height: 565px;
}

.makeTeamWrap > h3 {
  color: #6438e0;
  font-size: 18px;
}

.makeTeamWrap > form > input:first-child,
.makeTeamWrap > form > select {
  width: 100%;
  height: 40px;
  background-color: #f8f5ff;
  border: none;
  text-indent: 30px;
  margin-bottom: 15px;
}

.makeTeamWrap > form > textarea {
  width: 100%;
  height: 250px;
  background-color: #f8f5ff;
  border: none;
  // text-indent: 30px;
  padding: 30px;
  box-sizing: border-box;
}

.basicBtn {
  width: 160px;
  height: 48px;
  background-color: #895ef7;
  margin-top: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

// 모달창
.closeModal {
  display: none;
}

.openModal.modal {
  display: block;
}

.modalWrap {
  display: none;
}

.modalBg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.makeTeamModal {
  position: absolute;
  top: 50%;
  transform: translateX(-275px) translateY(-225px);
  left: 50%;
  background-color: #fff;
  width: 550px;
  height: 450px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.confirmBtn {
  width: 160px;
  height: 48px;
  background-color: #895ef7;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.makeTeamModal > img:first-child {
  width: 126px;
  height: 126px;
}

.makeTeamModal > h3,
.makeTeamModal > p {
  display: inline-block;
  margin: 0;
}
.makeTeamModal > h3 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.makeTeamModal > p {
  margin-bottom: 35px;
  font-size: 13px;
}
