@import '@/assets/styles/variable.scss';

.postComment {
    width: 100%;
    border: solid 1px #eeeeee;
    border-top: none;
    padding: 20px 40px;
    margin-bottom: 20px;

    .commentHeader {
        color: #8c8c8c;
        font-size: 12px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        > span:first-child {
            margin-right: 5px;
            font-weight: 500;
        }

        > span:nth-child(2) {
            font-weight: 400;
            font-size: 10px;
        }
    }
    .commentContent {
        color: #000000;
        font-size: 12px;
    }

    .mainComment {
        margin-bottom: 20px;


    }

    .subComment {
        padding: 20px;
        background: #F9F9F9;
        margin-bottom: 10px;
    }
}

.commentInput {
    background-color: #F9F9F9;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    > textarea {
        border: none;
        resize: none;
        padding: 20px;
        width: 100%;
        background-color: #F9F9F9;
        overflow: hidden;
        &:focus {
            border: none;
            outline: none;
        }

        &::placeholder {
            font-family: "Spoqa Han Sans Neo", sans-serif;
        }
    }

    .t-button {
        font-size: 12px;
        width: 80px;
        height: 30px;
    }
    
}