@import "@/Common.scss";

/* swiper */
.subjectWrap,
.recruitWrap {
  width: 1202px;
  margin: 0 auto 90px auto;
}

.subjectWrap > h3,
.recruitWrap > h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

/* swiper navigation button */

.swiper-button-prev,
.swiper-button-next {
  opacity: 1 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px !important;
  color: #fff;
  opacity: 1 !important;
}

/* 팀원 모집하기 pagenation */
.swiper-wrapper:nth-child(2) {
  height: 507px !important;
}

.swiper-pagination {
  bottom: 0px !important;
}
