@import '@/assets/styles/variable.scss';

.logIn {
    height: $content-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logInTitle {
    color: $font-color;
    font-family: TmoneyRoundWindExtraBold;
    font-size: 24px;
    margin-bottom: 30px;
}

.signUpPhrase {
    font-size: 13px;
    font-family: $font;
}

.signUpPhrase > span {
    margin-left: 5px;
    cursor: pointer;
    font-weight: 900;
}