@import '@/assets/styles/variable.scss';

.logIn {
    height: $content-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logInTitle {
    color: $font-color;
    font-family: TmoneyRoundWindExtraBold;
    font-size: 24px;
    margin-bottom: 30px;
}

.t-input {
    width: 350px;
}