@import '@/Common.scss';

.logIn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logInTitle {
    color: $font-color;
    font-size: 18px;
    font-weight: 800;
}