@import '@/assets/styles/variable.scss';

.mainComment {
    margin-bottom: 20px;

    .commentHeader {
        display: flex;
        justify-content: space-between;
        color: #8c8c8c;
        font-size: 12px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        .commentInfo > span:first-child {
            margin-right: 10px;
            font-weight: 700;
        }

        .commentInfo > span:nth-child(2) {
            font-weight: 400;
            font-size: 10px;
        }
        
        .commentFeature {
            span {
                cursor: pointer;
                font-size: 11px;
            }
            
            display: flex;
            gap: 5px;
        }
    }
    .commentContent {
        color: #000000;
        font-size: 12px;
    }
}