$purple: #6438e0;

.searchWrap {
  width: 652px;
  margin: 72px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchTitle {
  color: $purple;
}

.searchBox {
  width: 650px;
  height: 50px;
  border: 1px solid $purple;
  text-indent: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-size: 13px;
  color: #8c8c8c;
}

.searchBox > input {
  width: 90%;
  height: 47px;
  border: none;
  text-indent: 20px;
}

.searchBox > button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.searchBox > button > img {
  width: 18px;
  height: 18px;
}
